.a {

    background-attachment: fixed;
    background-position: bottom right;
    text-align: center;
    width: 100%;
    background-image: center;
    display: block;
    max-width: 1400px;
    max-height: 700px;
    width: auto;
    height: auto;
    font size: 1500%;
    font color: #000;
    f
}

.display-4 {
    color: white;
}

.lead {
    color: white;
}

.b {
    text-align: center;
    background-color: white;

}

.c {
    text-align: center;
    width: auto
}


.d {
    background-color: white;
    text-align: center;
}

.e {
    background-color: white;
    text-align: center;
}


.f {
    text-align: center;
    width: auto
}

.g {
    text-align: center;
    background-color: white;
}

.nav1 navbar-light bg-light {
    padding-left: 0px;
    padding-right: 0px;
    border: 0px;
    margin: 0%;
}

div.col {
    float: left;
    width: 25%;
    padding: 5px;


}

* {
    box-sizing: border-box;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.row {
    display: flex;
}

body {}

img.nav1 {
    align-items: center;
    margin: 0px 15px 15px 5px 15px 5px 15px 5px 15px 0px;
}